body {
  min-height: 100%;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

body {
  color: #434455;
  background-color: #ffffff;
}

header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

h2 {
  margin: 120px 0 72px 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.horizontal-list {
  margin-left: 156px;
}
.horizontal-list li {
  margin-right: 24px;
  text-align: left;
}

.horizontal-list li img {
  margin-bottom: 32px;
}

header ul.horizontal-list {
  margin: 0 0 0 76px;
}

section {
  text-align: center;
}

.hero {
  color: #ffffff;
  background-color: #2e2f42;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
}

.header-first {
  color: #ffffff;
  margin: 0;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}

.Portfolio .horizontal-list li {
  margin: 48px 24px 48px 0;
}

.Benefits {
  height: 344px;
  justify-content: center;
}

.Benefits ul li {
  height: 104px;
}

.Benefits h3 {
  margin-top: 0;
}

.Our-Team {
  background-color: #f4f4fd;
  height: 732px;
  justify-content: center;
}

.Our-Team li {
  text-align: center;
}

.foot {
  background-color: #2e2f42;
  height: 312px;
  color: #ffffff;
  align-items: center;
}

.logo,
.foot-p {
  margin-left: 156px;
}
