body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

body {
  color: #434455;
  background-color: #ffffff;
}

header {
  justify-content: space-between;

  margin: 0;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

h2 {
  margin: 120px 0 72px 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.horizontal_list {
  margin-left: 156px;
}
.horizontal_list li {
  margin-right: 24px;
  text-align: left;
}

.horizontal_list li img {
  margin-bottom: 32px;
}

header ul.horizontal_list {
  margin: 0 0 0 76px;
}

section {
  text-align: center;
}

.hero {
  color: #ffffff;
  background-color: #2e2f42;
  justify-content: center;
}

button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
}

.header_first {
  color: #ffffff;
  margin: 0;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}

.Portfolio .horizontal_list li {
  margin: 48px 24px 48px 0;
}

.Benefits {
  justify-content: center;
}

.Benefits h3 {
  margin-top: 0;
}

.Our_Team {
  background-color: #f4f4fd;
  justify-content: center;
}

.Our_Team li {
  text-align: center;
}

.foot {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo,
.foot-p {
  margin-left: 156px;
}

/* .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
} */
